.block{
    width: 70px;
    display: inline-block;
    text-align: center;
}

.active {
    background-color: #218838;
    color: black;    
}

.inactive {
    background-color: #6c757d;
    color: white;
}

.unknown {
    background-color: #17a2b8;
    color: black;
}

