<!-- <div class="container">
    <div class="row">
        <div class="col">
            <h3>Hey!! I'm AppComponent</h3>
            <hr>
            <app-servers></app-servers>
        </div>
    </div> -->
    <!-- <hr>
    <h1>Dependency Injection Module</h1>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <app-dep-inj></app-dep-inj>
        </div>
    </div> -->
<!-- </div> -->

<nav id="main-nav">
    <div class="wrapper">
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/directives">Dependency Injection</a></li>
            <li><a routerLink="/jhcbv">404</a></li>
        </ul>   
    </div>
</nav>    
<router-outlet></router-outlet>