body{
    font-family: "Arial";
    background: #ececec;      
}
ul{
    /* width: 73%; */
    list-style-type : none ;
    padding: 20px 20px;
}
li{
    padding:20px;
    background-color: white;
    margin-bottom: 5px;
}

.button{
    display: block;
    /* width: 115px; */
    /* height: 25px; */
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    margin: 0 auto 10px;
    cursor: pointer;
    text-decoration: none;
}

.home{
  width: 115px;
}

section{
  background: #5a5757; 
  width: 300px;
  padding: 20px;
  margin: 10px auto;
  text-align: center;
  border-radius: 5px;
}

.aside-title{
  color: white;
}

.modules-warpper{
  margin: 20px 0;
}